// Text
$text-color: #ffffff;
$f-family: 'Roboto', sans-serif;
$button-speech-color: rgba(0, 0, 0, 0.5);


// Buttons
$left-margin: 1rem;
$button-size: 4.4rem;
$button-radius: 0.5rem;
$r: $button-radius;

$button-hover-bg:rgba(180, 184, 187, 1.0);
$button-highlight:  rgb(0, 255, 255);
$button-inactive-bg: rgba(76, 82, 85, 0.7);
$button-border: rgb(117, 117, 117);


// Container 
$main-bg: rgba(47, 47, 47, 0.5);
$main-secondary-bg: rgba(0, 0, 0, 0.20);