<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Weather Forecast
    body
        .load-screen
            img(src="/src/assets/loader.svg")
        main.container
            .container__box.controls
                .box__content
                    button.button.button_update
                        .reload
                    button.button.button_current-location
                        i.fas.fa-location-arrow
                    .lang
                        button.button.button_language.en en
                        button.button.button_language.ru ru
                        button.button.button_language.be be
                    button.button.button_c °C
                    button.button.button_f °F
                    button.button.button__voice-play
                        i.fas.fa-play
                    button.button.button__voice-pause
                        i.fas.fa-pause
            .container__box.search
                .box__content
                    form.search-form
                        input.search__input(type="text" name="search" id="autocomplete" required)
                        button.button.button_search Search
                        button.button.button_speech
                            i.fas.fa-microphone
            .container__box.daily-forecast
                .box__content
                    h3.location --, --
                    .date-time
                        p.date 
                        p.time
                    .current-temperature
                        h2.degrees.degree --
                        img.weather-icon(src="#", alt="#")
                    .weather-information
                        p.forecast-details ---
                        p.wind -- m/s 
                    .weather-information
                        p.apparent Feels like <span class="degree">--</span><span class="degree-format">°C</span>
                        p.humidity --%
            .container__box.health-update
                .covid__disclaimer
                    p Covid19
                .box__content
                    .covid__info
                        .covid__icon
                            svg
                                use(xlink:href="#mask")
                        .covid__text
                            h4 Confirmed
                            p#confirmed --
                    .covid__info
                        .covid__icon
                            svg
                                use(xlink:href="#sick")
                        .covid__text
                            h4 Recovered
                            p#recovered --
                    .covid__info
                        .covid__icon
                            svg
                                use(xlink:href="#dead")
                        .covid__text
                            h4 Deceased
                            p#deceased --
            .container__box.location-map
                .box__content
                    .location__mask
                        .location__map#map
                    .location__info
                        .location__coordinates
                            p.latitude Latitude: <span>-- --</span>
                            p.longitude Longitude: <span>-- --</span>
            .container__box.next-forecast
                .box__content
                    .forecast
                        h3.forecast__day --
                        .forecast__info.next1
                            h2.forecast__temperature.degree --
                            img.forecast__icon
                        .forecast__details.next1
                            p.high_temp <span>--</span> <i class="fas fa-caret-up"></i>
                            p.low_temp <span>--</span> <i class="fas fa-caret-down"></i>
                    .forecast
                        h3.forecast__day --
                        .forecast__info.next2
                            h2.forecast__temperature.degree --
                            img.forecast__icon
                        .forecast__details.next2
                            p.high_temp <span>--</span> <i class="fas fa-caret-up"></i>
                            p.low_temp <span>--</span> <i class="fas fa-caret-down"></i>
                    .forecast
                        h3.forecast__day --
                        .forecast__info.next3
                            h2.forecast__temperature.degree --
                            img.forecast__icon
                        .forecast__details.next3
                            p.high_temp <span>--</span> <i class="fas fa-caret-up"></i>
                            p.low_temp <span>--</span> <i class="fas fa-caret-down"></i>
    <svg width="0" height="0">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 44" id="mask">
            <path d="M16.7 24.955A44.625 44.625 0 0 0 30 26.988a44.625 44.625 0 0 0 13.3-2.033 1 1 0 0 0-.594-1.91 42.507 42.507 0 0 1-25.406 0 1 1 0 0 0-.594 1.91zm.146-5.967c4.352.673 8.75 1.01 13.154 1.006a85.637 85.637 0 0 0 13.154-1.006 1 1 0 1 0-.308-1.976 84.471 84.471 0 0 1-25.692 0 1 1 0 0 0-.308 1.976zM42.569 30.1a28.632 28.632 0 0 1-25.138 0 1 1 0 1 0-.862 1.8 30.6 30.6 0 0 0 26.862 0 1 1 0 1 0-.862-1.8z"></path>
            <path d="M56 10h-5.184A3 3 0 0 0 48 8h-1.51a12.337 12.337 0 0 1-9.513-4.68 8.992 8.992 0 0 0-13.952 0A12.338 12.338 0 0 1 13.51 8H12a3 3 0 0 0-2.816 2H4a4 4 0 0 0-4 4v5c0 5.256 4.706 10.093 10.418 10.881a21.557 21.557 0 0 0 17.933 14.026c1.097.124 2.203.124 3.3 0a21.557 21.557 0 0 0 17.931-14.026C55.294 29.093 60 24.256 60 19v-5a4 4 0 0 0-4-4zm-44 0h1.51a14.336 14.336 0 0 0 11.067-5.42 6.99 6.99 0 0 1 10.849 0A14.332 14.332 0 0 0 46.49 10H48a1 1 0 0 1 1 1v1l-3-.005h-.02A15.834 15.834 0 0 1 33.87 5.84a4.989 4.989 0 0 0-7.747.009 15.821 15.821 0 0 1-12.1 6.144H14L11 12v-1a1 1 0 0 1 1-1zM2 19v-5a2 2 0 0 1 2-2h5v10a22.65 22.65 0 0 0 .745 5.723C5.772 26.766 2 23.372 2 19zm29.442 22.918c-.958.108-1.926.108-2.884 0A19.568 19.568 0 0 1 12.12 28.661v-.01A20.5 20.5 0 0 1 11 22v-8l3-.005a17.717 17.717 0 0 0 13.675-6.882 2.99 2.99 0 0 1 4.645-.008 17.824 17.824 0 0 0 13.657 6.89H46L49 14v8a20.5 20.5 0 0 1-1.117 6.649v.01a19.568 19.568 0 0 1-16.441 13.259zM58 19c0 4.372-3.772 7.766-7.745 8.725.492-1.869.742-3.793.745-5.725V12h5a2 2 0 0 1 2 2z"></path>
        </symbol>
        <symbol viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" id="sick">
            <path d="M502.715 236.915c-7.241-10.349-18.158-16.048-30.738-16.048h-15.889l-6.003-55.197c-1.969-18.149-.599-20.264 5.516-26.287 2.303-2.264 4.89-4.517 7.629-6.901 14.886-12.961 33.413-29.092 35.936-70.343A10.001 10.001 0 0 0 486.71 51.84c-5.913 1.51-11.342 2.972-16.133 4.262-34.705 9.348-44.031 11.86-77.656-8.868-54.072-33.338-102.488-44.917-148.017-35.399-38.662 8.083-66.846 29.639-89.493 46.958-1.976 1.511-3.889 2.974-5.752 4.384-18.381-5.228-37.027-2.956-53.045 6.575-19.066 11.346-32.538 32.146-36.038 55.646-5.325 35.907-5.669 49.498-5.691 95.468H40.023c-12.581 0-23.497 5.699-30.738 16.048C3.297 245.472 0 257.009 0 269.4c0 28.244 17.485 58.261 49.888 58.261h8.254c7.209 33.414 26.079 68.631 52.754 98.855.252.319.518.626.806.912 10.416 11.693 21.986 22.631 34.513 32.395a9.954 9.954 0 0 0 6.141 2.113 9.983 9.983 0 0 0 7.894-3.853c3.395-4.356 2.616-10.64-1.74-14.035-10.738-8.369-20.712-17.636-29.767-27.497v-72.387c0-.087.006-.141.004-.152.107-.153 1.132-1.455 5.608-2.883l107.342-34.438c12.03-3.848 16.575-3.848 28.597-.003l107.366 34.445c4.666 1.489 5.574 2.858 5.585 2.858a.969.969 0 0 1 .011.172v72.215c-23.408 25.539-52.472 46.612-83.122 57.988-16.518 6.147-30.542 9.01-44.135 9.01-6.293 0-12.663-.621-19.474-1.898-5.431-1.02-10.654 2.557-11.672 7.985s2.557 10.654 7.985 11.672c8.041 1.508 15.616 2.241 23.16 2.241 16.049 0 32.29-3.262 51.103-10.263 39.496-14.66 77.066-43.379 105.789-80.869 20.741-27.072 34.944-56.686 40.969-84.585h8.252c32.403 0 49.888-30.018 49.888-58.261.001-12.389-3.296-23.926-9.284-32.483zM49.888 307.662C27.959 307.662 20 284.78 20 269.4c0-8.327 2.014-15.792 5.672-21.02 3.538-5.056 8.232-7.514 14.352-7.514h14.86v57.916c0 2.927.129 5.892.344 8.878h-5.34zm58.855 84.021c-16.997-24.26-28.467-50.386-32.372-74.884-.035-.408-1.487-12.535-1.487-18.015v-26.055l34.211 67.52a21.778 21.778 0 0 0-.352 3.917zM388.717 324a43.508 43.508 0 0 0-4.963-1.914l-107.359-34.443c-16.01-5.12-24.778-5.121-40.798.003l-107.335 34.436a45.048 45.048 0 0 0-4.983 1.91l-46.113-91.011c25.769-23.952 44.741-32.357 73.338-40.391 6.288-1.767 12.775-2.807 19.31-2.173 6.192.6 12.181 2.49 18.118 4.254 4.021 1.195 8.047 2.375 12.105 3.438 97.081 25.379 135.889 29.885 213.207 38.862 5.914.687 12.064 1.401 18.48 2.152zm46.91-7.168c-3.952 24.788-15.602 50.786-32.371 74.685v-47.351c0-1.14-.096-2.459-.368-3.884l34.228-67.553v26.055c.384 8.568-1.449 17.571-1.489 18.048zm-5.425-149.003l5.616 51.635c-7.067-.829-13.804-1.611-20.267-2.361-76.39-8.869-114.732-13.32-210.452-38.344-7.923-2.074-15.684-4.773-23.665-6.625-7.575-1.757-15.292-2.387-23.031-1.498-4.503.518-8.948 1.473-13.309 2.698-26.879 7.552-46.815 15.787-70.188 35.026.117-35.134.85-48.978 5.454-80.022 2.624-17.616 12.524-33.092 26.483-41.399 8.695-5.174 22.91-9.94 41.247-3.26a10.004 10.004 0 0 0 9.37-1.356c3.263-2.413 6.585-4.954 10.103-7.644C211.219 41.292 271.01-4.435 382.425 64.258c40.979 25.261 56.312 21.131 93.353 11.155l1.649-.444c-4.559 22.601-16.106 32.655-27.331 42.429-2.842 2.475-5.782 5.034-8.524 7.729-13.09 12.896-13.517 22.914-11.37 42.702zm31.91 139.833h-5.333c.217-2.995.337-5.958.337-8.878v-57.916h14.86c6.119 0 10.813 2.458 14.352 7.514 3.658 5.227 5.672 12.692 5.672 21.02 0 15.378-7.959 38.26-29.888 38.26z"></path>
            <path d="M172.404 253.408c-5.523 0-10 4.477-10 10v11.31c0 5.523 4.477 10 10 10s10-4.477 10-10v-11.31c0-5.523-4.477-10-10-10zm167.192 0c-5.523 0-10 4.477-10 10v11.31c0 5.523 4.477 10 10 10s10-4.477 10-10v-11.31c0-5.523-4.477-10-10-10zm-144.35 213.791c-4.939-2.47-10.947-.468-13.417 4.472s-.468 10.947 4.472 13.417l.057.028a9.92 9.92 0 0 0 4.447 1.055 9.995 9.995 0 0 0 8.941-5.542c2.47-4.939.44-10.96-4.5-13.43z"></path>
        </symbol>
        <symbol viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" id="dead">
            <path d="M478.453 205.514c-6.706-9.579-16.812-14.855-28.461-14.855h-13.337l-5.292-48.636c-1.707-15.915-.641-17.58 4.664-22.814 2.045-2.011 4.354-4.022 6.798-6.152 12.803-11.157 30.338-26.437 32.624-63.919a9.999 9.999 0 0 0-12.454-10.297 1098.62 1098.62 0 0 0-14.562 3.848c-31.586 8.511-39.09 10.534-68.903-7.859C330.737 4.745 287.007-5.696 245.839 2.909c-34.956 7.308-60.38 26.744-80.808 42.362-1.64 1.253-3.23 2.469-4.781 3.644-16.616-4.598-33.456-2.477-47.95 6.146-17.393 10.349-29.677 29.303-32.859 50.706-4.728 31.94-5.07 44.259-5.094 84.893H62.008c-11.649 0-21.755 5.276-28.461 14.855-5.501 7.86-8.531 18.435-8.531 29.778 0 25.86 16.064 53.345 45.835 53.345h6.539c5.83 26.732 19.88 54.699 40.603 80.33-18.157 16.9-33.248 35.701-44.051 55.302a10.001 10.001 0 0 0 8.757 14.827h.031l27.095-.085c2.739 0 7.367 2.472 8.85 4.735l14.902 22.665c5.151 7.858 16.089 13.758 25.467 13.758h.104l27.123-.085c2.725 0 7.338 2.472 8.817 4.727l14.881 22.676a9.996 9.996 0 0 0 8.748 4.506 10.001 10.001 0 0 0 8.373-5.171c6.526-11.859 13.226-23.729 19.704-35.209 4.891-8.666 9.637-17.08 14.18-25.24 12.896-.601 26.154-3.547 41.287-9.152 12.768-4.752 25.471-11.206 37.756-19.183 4.633-3.008 5.949-9.2 2.941-13.832-3.006-4.632-9.199-5.948-13.831-2.941-11.059 7.18-22.445 12.971-33.828 17.208-8.113 3.006-15.535 5.124-22.573 6.429 22.816-42.637 37.175-76.724 30.772-99.277-2.398-8.45-7.496-14.874-15.154-19.095-21.032-11.577-61.377-4.969-105.293 17.241-17.904 9.055-34.722 19.928-49.91 32.107-24.422-30.476-38.798-65.116-38.798-94.19v-56.771c23.821-22.589 40.967-30.29 67.156-37.656 13.762-3.848 20.209-1.935 33.047 1.875 3.217.955 6.862 2.037 10.938 3.102 87.216 22.789 122.089 26.837 191.566 34.903 6.54.759 13.399 1.556 20.635 2.407v52.141c0 24.344-9.957 52.596-28.038 79.552-3.076 4.586-1.852 10.798 2.734 13.874a9.95 9.95 0 0 0 5.561 1.696 9.992 9.992 0 0 0 8.313-4.43c14.052-20.948 23.722-42.854 28.334-63.742h6.559c29.771 0 45.835-27.485 45.835-53.345 0-11.345-3.03-21.921-8.53-29.781zM192.077 341.615c40.558-20.513 74.277-24.364 86.619-17.57 2.924 1.612 4.64 3.783 5.565 7.04 6.318 22.254-24.795 77.384-54.883 130.699a6169.313 6169.313 0 0 0-11.762 20.903l-5.804-8.845c-5.141-7.843-16.121-13.758-25.571-13.758l-27.17.085h-.021c-2.697 0-7.266-2.465-8.754-4.735l-14.902-22.666c-5.141-7.843-16.133-13.758-25.599-13.758l-9.117.029c21.124-30.654 53.602-58.308 91.399-77.424zM70.852 268.638c-18.956 0-25.836-19.942-25.836-33.346 0-7.172 1.792-13.846 4.917-18.31 2.978-4.255 6.928-6.324 12.076-6.324h12.336v51.029c0 2.298.072 4.616.213 6.951zm328.504-81.363c-68.549-7.958-102.957-11.953-188.816-34.386-3.757-.982-7.085-1.97-10.304-2.926-8.652-2.568-16.167-4.799-25.296-4.799-5.496 0-11.577.809-18.841 2.84-23.667 6.656-41.37 13.887-61.729 30.277.123-30.7.826-42.375 4.854-69.579 2.306-15.517 11.018-29.145 23.301-36.454 7.625-4.537 20.087-8.713 36.171-2.846a9.991 9.991 0 0 0 9.37-1.353c2.944-2.176 5.939-4.466 9.11-6.89 38.993-29.809 92.393-70.634 191.856-9.308 37.151 22.923 52.021 18.928 84.569 10.157-4.143 18.744-13.799 27.157-23.914 35.972-2.56 2.231-5.207 4.537-7.693 6.982-11.996 11.838-12.415 21.479-10.514 39.209l4.906 45.087c-5.921-.694-11.583-1.351-17.03-1.983zm41.792 81.363h-3.691c.146-2.34.227-4.66.227-6.951v-51.029h12.308c5.148 0 9.098 2.069 12.076 6.324 3.125 4.464 4.917 11.138 4.917 18.31 0 13.404-6.881 33.346-25.837 33.346z"></path>
            <path d="M364.091 289.262c2.564-4.89.679-10.934-4.212-13.499l-24.95-13.084 24.95-13.084c4.89-2.565 6.776-8.609 4.212-13.499-2.565-4.89-8.608-6.777-13.5-4.212l-41.836 21.94a9.997 9.997 0 0 0 0 17.71l41.836 21.94a9.945 9.945 0 0 0 4.635 1.146 10 10 0 0 0 8.865-5.358zm-216.182 0a10 10 0 0 0 13.5 4.212l41.836-21.94a9.997 9.997 0 0 0 0-17.71l-41.836-21.94c-4.89-2.566-10.934-.679-13.5 4.212-2.564 4.89-.679 10.934 4.212 13.499l24.95 13.084-24.95 13.084c-4.89 2.565-6.776 8.609-4.212 13.499zm40.612 101.987c1.808 0 3.637-.49 5.284-1.517 18.325-11.435 37.643-19.831 55.866-24.28 5.365-1.31 8.652-6.721 7.342-12.086-1.309-5.365-6.717-8.65-12.086-7.343-20.263 4.947-41.602 14.194-61.709 26.742-4.685 2.924-6.113 9.092-3.189 13.777a9.99 9.99 0 0 0 8.492 4.707zm173.447-16.618l-.028.028c-3.905 3.905-3.89 10.223.015 14.128a9.956 9.956 0 0 0 7.063 2.922c2.567 0 5.136-.98 7.092-2.936 3.905-3.905 3.905-10.237 0-14.142-3.906-3.905-10.236-3.905-14.142 0z"></path>
        </symbol>
    </svg>
                
        